;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;   https://github.com/polybar/polybar

[colors]
;background = ${xrdb:color0:#222}
background = #222
background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #dfdfdf
foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

[settings]
screenchange-reload = true
pseudo-transparency = true

[global/wm]
margin-top = 0
margin-bottom = 0
wm-restack = i3

[bar/base]
;fix transparency
;override-redirect = true
background = {{transparent}}
foreground = {{content.fg}}
line-size = 0
height = 38
;border-size = {{width_small}}
;border-color = {{window.border.inactive}}
padding-right = 2
padding-left = 1
module-margin = 2
font-0 = {{font}}:pixelsize={{font_size}};2
font-1 = {{font_icons}}:pixelsize={{font_size}};3
dpi-x = {{dpi}}
dpi-y = {{dpi}}

[bar/saturn]
inherit = bar/base
bottom = true
modules-left = workspace title
modules-right = wired-network wired-network2 wireless-network free volume date

[module/title]
type = internal/xwindow
label-maxlen = 80

[module/workspace]
type = internal/i3
pin-workspaces = true
enable-click = true
label-focused-foreground = {{content.fg_focused}}
label-padding = 0
label-urgent-foreground = {{content.fg_urgent}}
label-separator = " "
label-separator-padding = 0

[module/wired-network]
type = internal/network
interface = enp6s0

[module/wired-network2]
type = internal/network
interface = enp11s0

[module/wireless-network]
type = internal/network
format-disconnected = <label-disconnected>
label-disconnected = Disconnected
label-disconnected-foreground = {{red}}
format-connected = <ramp-signal> <label-connected>
label-connected = %essid% [%signal%]
ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-5 = 
ramp-signal-foreground = {{content.faded}}
interface = wlp0s29u1u7u2

[module/volume]
type = internal/pulseaudio
mapped = true
label-muted =  Mute
label-muted-foreground = {{red}}
format-muted = <label-muted>
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-foreground = {{content.faded}}
format-volume = <ramp-volume> <label-volume>

[module/free]
type = internal/fs
mount-0 = /
interval = 10
fixed-values = true
label-mounted = %free%
format-mounted-prefix = " "
format-mounted-prefix-foreground = {{content.faded}}
format-mounted = <label-mounted>

[module/date]
type = internal/date
interval = 1
date = "%a %b %d"
time = %H:%M:%S
format-prefix =   
format-prefix-foreground = {{content.faded}}
label = " %date%, %time%"

; vim:ft=dosini
