"*":
  core:
    disabledPackages: [
      "welcome"
      "language-javascript-jsx"
      "linter-scss-lint"
    ]
    ignoredNames: [
      ".DS_Store"
      "Thumbs.db"
      ".localized"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "9c627fef-ee29-c034-821b-fed2efd80fe4"
  "isotope-ui": {}
  linter:
    errorPanelHeight: 58
    showErrorInline: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    esversion: 6
    lintJSXFiles: true
  "linter-rust":
    executablePath: "/usr/local/bin/rustc"
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  metrics:
    userId: "646e00c1c0a9df20621b06ed7f7251374c38fce8"
  minimap:
    absoluteMode: true
    autoToggle: false
  racer: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".text.todotxt":
  editor:
    autoIndent: true
    preferredLineLength: 120
"source.gfm":
  editor:
    preferredLineLength: 120
    softWrap: true
