"*":
  Zen:
    gutter: true
    minimap: true
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  core:
    disabledPackages: [
      "welcome"
      "linter-scss-lint"
      "linter"
      "linter-ui-default"
      "linter-eslint"
    ]
    ignoredNames: [
      ".DS_Store"
      "Thumbs.db"
      ".localized"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
  date:
    dateFormat: "YYYY-MM-DD"
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "3bdaa750-492e-412e-8461-86ac82fd2fcd"
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "node_modules"
      "node"
      "build"
    ]
  "ide-rust": {}
  "ide-typescript": {}
  "isotope-ui": {}
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    esversion: 6
    lintJSXFiles: true
  "linter-rust":
    executablePath: "/usr/local/bin/rustc"
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-ui-default":
    panelHeight: 515
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
  metrics:
    userId: "646e00c1c0a9df20621b06ed7f7251374c38fce8"
  minimap:
    absoluteMode: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui": {}
  racer: {}
  script:
    enableExecTime: false
    stopOnRerun: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".text.todotxt":
  editor:
    autoIndent: true
    preferredLineLength: 120
"source.gfm":
  editor:
    preferredLineLength: 80
    softWrap: true
