"*":
  core:
    disabledPackages: [
      "archive-view"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "exception-reporting"
      "image-view"
      "metrics"
      "open-on-github"
      "package-generator"
      "release-notes"
      "snippets"
      "spell-check"
      "styleguide"
      "timecop"
      "update-package-dependencies"
      "welcome"
      "deprecation-cop"
      "keybinding-resolver"
      "linter-jshint"
    ]
    ignoredNames: [
      ".DS_Store"
      "Thumbs.db"
      ".localized"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "9c627fef-ee29-c034-821b-fed2efd80fe4"
  "isotope-ui": {}
  linter:
    errorPanelHeight: 58
    showErrorInline: true
  "linter-rust":
    executablePath: "/usr/local/bin/rustc"
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "markdown-preview":
    liveUpdate: false
  minimap:
    absoluteMode: true
  racer: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".text.todotxt":
  editor:
    autoIndent: true
    preferredLineLength: 120
